API_IMAGE_TAG=api-latest
GATEWAY_IMAGE_TAG=gateway-latest
OLLAMA_IMAGE_TAG=latest

API_PORT=8000
GATEWAY_PORT=3000

COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml:docker-compose.local.yml
COMPOSE_PROFILES=python-service,gateway,langage,mcp-fastapi,ms-data,postgres
