# Environnement virtuel
python-service/.venv/
python-service/venv/
.venv/
.env

# Cache Python
python-service/**/__pycache__/
python-service/**/*.py[cod]
__pycache__/
.pytest_cache/

# Tests
python-service/.pytest_cache/
python-service/.coverage
python-service/htmlcov/

# Variables d'environnement
python-service/.env

# Build
python-service/build/
python-service/dist/
python-service/*.egg-info/

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db


/lola/gateway/node_modules/

dijkstra/**/__pycache__/

fastapi/**/__pycache__/
fastapi/.venv/
fastapi/.pytest_cache/

# Ignorer tous les fichiers pycache
__pycache__/